#map {
  float: left;
  height: 600px;
  width: 100%;
}

tr:nth-child(odd) {
  background-color: #CCCCCC;
}

a{
  text-decoration: none;
}

a:visited{
  color: none;
}

video{
  width: 100%;
  margin: auto;
}

body {
  background-color: white;
  margin: 0;
}

h1 {
  font-family: "helvetica";
  font-size: 72px;
}

h2 {
  font-family: "helvetica";
  font-size: 25px;
  color: white;
}

h3{
  font-family: "helvetica";
  font-size: 25px;
  color: black;
  margin-left: 5px;

}

.titles{
  position: relative;
  margin-left: 15px;
  top: -300px;

}

.main {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(	0,	0,	0, 0.5), rgba(0, 0, 0, 0));
  overflow: hidden;
  position: relative;
  top: -300px;
  width: 100%;
  height: 200px;
  opacity: 0;
  transition: .5s ease;
  color: white;
  font-family: "helvetica";
  font-size: 20px;
}

.overlay2 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(	0,	0,	0, 0.5), rgba(0, 0, 0, 0));
  overflow: hidden;
  position: relative;
  top: -300px;
  width: 100%;
  height: 200px;
  opacity: 0;
  transition: .5s ease;
  color: white;
  font-family: "helvetica";
  font-size: 20px;
}


.anbefalinger{
  width: 50%;
}

.hotspots{
  width: 50%;
}

.anbefalinger:hover .overlay{
  opacity: 1;
}

.hotspots:hover .overlay2{
  opacity: 1;

}

.layoutElement1{
  height: 225px;
}

.content{
  margin: auto;
  width: 60%;
}

.contentbody {
  position: absolute;
  top: 0px;
  width: 100%
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  text-align: center;
  background-color:#007FFF;
}

button {
    background-color: #007FFF;
    border: none;
    color: white;
    width: 15%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
  background-color: #0FAFFF
}
