/* Mobile css */
@media only screen and (max-width: 600px) {
  .mobileContent {
    display: inline;
  }
  .pageBody {
    display: none;
  }
  .logo {
    width: 150px;
  }
}

/* Tablet css */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  h2 {
    color: black;
  }
  .mobileContent {
    display: inline;
  }
  .indexBody {
    display: none;
  }
  .logo {
    width: 250px;
  }

}

/* Labtop css */
@media only screen and (min-width: 1200px) and (max-width: 1450px) {
  .mobileContent {
    display: none;
  }
  .logo {
    width: 400px;
  }
}

/* Desktop css */
@media only screen and (min-width: 1450) {
  h2 {
      font-family: "helvetica";
      font-size: 50px;
      color: white;
  }

  .mobileContent {
    display: none;
  }

  .logo {
    width: 500px;
  }
}
/* Slutten av @media queries */

/* Denne ID-en setter stilen til kartene på toaletter.html og lekeplass.html */
#map {
  height: 600px;
  width: 100%;
}

/* Denne klassen blir brukt til å holde på logo */
.headElement {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  height: 60px;
  text-align: center;
  background-color:#007FFF;

}

/* Denne klassen holder lenkene på index som leder til andre siden */
.flexContent {
  display: flex;
  flex-direction: row;
}

/* Denne klassen inneholder bildene i en flexContent div.
Style blir mer definert i html dokumentet for å skape høyre-venstre motivet */
.imgContainer {
  display: flex;

}

/* Denne klassen inneholder teksten i en flexContent div.
Style blir mer definert i html dokumentet for å skape høyre-venstre motivet */
.textContainer {
  display: flex;
}

/* h3 brukes som overskrift diverse steder */
h3{
  font-family: "helvetica";
  font-size: 25px;
  color: black;
}

/* Denne klassen danner boksene på anbefalinger.html.
Den blir også brukt på index.html hvis brukeren er på mobil ellet nettbrett */
.contentBox {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  background-color: white;
}

/* Denne klassen forskyver contentCenter.
Den som regel ingenting i seg, men kan ha bilder o.l */
.contentLeft {

}

/* Denne klassen holder innholdet i en contentBox */
.contentCenter {
  width: 80%;
}

/* Denne klassen forskyver contentCenter.
Den som regel ingenting i seg, men kan ha bilder o.l */
.contentRight {

}

/* Denne klassen holder innholder som vises dersom brukeren er på en mobil eller tablet.
Dersom brukeren ikke er på mobil eller nettbrett blir den gjemt */
.mobileContent {

}

/* Denne klassen holder innhold som skal brukes på laptop og stasjonær.
Hvis brukeren er på mobil eller tablet blir det fjenet */
.indexBody {

}

/* Denne klassen forskyver innholdet på siden slik at det ikke
krasjer med logo før brukeren har scrollet */
.layoutElement1{
  height: 150px;
}

/* Denne klassen holder alt contentet på siden sentrert innenfor 60% av sidens bredde */
.content{
  margin: auto;
  width: 60%;
}
